<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= property.room %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= property.bedrooms %>
  </p>

  <%= image_tag(property.photo)%>

</div>
